---
- name: Configure BeyondCompare
  become: true
  block:
    - name: Download scootersoftware repository file
      ansible.builtin.get_url:
        url: https://www.scootersoftware.com/files/scootersoftware.repo
        dest: /etc/yum.repos.d/scootersoftware.repo
        mode: "0644"
      when: beyondcompare_state == 'present'

    - name: Remove scootersoftware repository file
      ansible.builtin.file:
        path: /etc/yum.repos.d/scootersoftware.repo
        state: absent
      when: beyondcompare_state == 'absent'

    - name: Add scootersoftware GPG key
      ansible.builtin.rpm_key:
        state: "{{ 'present' if beyondcompare_state == 'present' else 'absent' }}"
        key: https://www.scootersoftware.com/RPM-GPG-KEY-scootersoftware

    - name: Install BeyondCompare
      ansible.builtin.dnf:
        name: bcompare
        state: "{{ beyondcompare_state }}"
