{{- $secrets := (joinPath .chezmoi.sourceDir "secrets" "personal.toml.asc" | include | decrypt | fromToml) -}}
{{- $secrets_mail := (joinPath .chezmoi.sourceDir "secrets" "mail.toml.asc" | include | decrypt | fromToml) -}}
\ProvidesFile{azmo.lco}[%
  2010/11/13 v0.1a LaTeX2e unsupported letter-class-option]

{{ joinPath (.chezmoi.sourceFile | dir) "top.lco.include" | include }}

\setkomavar{fromname}{ {{- $secrets.personal.azmo.name -}} }
\setkomafont{fromname}{\bfseries\color{mygray}\LARGE}
\setkomavar{fromaddress}{ {{- $secrets.personal.azmo.street }} {{ $secrets.personal.azmo.houseno }}\\{{ $secrets.personal.azmo.postal }} {{ $secrets.personal.azmo.city -}} }
\setkomavar{fromphone}[\Mobilefone~]{ {{- $secrets.personal.azmo.mobile | replace "-" "--" -}} }
\setkomavar{fromlandline}{ {{- $secrets.personal.azmo.landline | replace "-" "--" -}} }
\setkomavar{fromfax}{ {{- $secrets.personal.azmo.fax | replace "-" "--" -}} }
\setkomavar{fromemail}[\Letter~]{ {{- $secrets_mail.mail.gatgordonschulzdotde.email -}} }
\setkomavar{signature}{\usekomavar{fromname}}
\setkomavar{place}{ {{- $secrets.personal.azmo.city -}} }

{{ joinPath (.chezmoi.sourceFile | dir) "bottom.lco.include" | include }}
