{{- $secrets := (joinPath .chezmoi.sourceDir "secrets" "personal.toml.asc" | include | decrypt | fromToml) -}}
\ProvidesFile{barbara.lco}[%
  2010/11/13 v0.1a LaTeX2e unsupported letter-class-option]

{{ joinPath (.chezmoi.sourceFile | dir) "top.lco.include" | include }}

\setkomavar{fromname}{ {{- $secrets.personal.barbara.name -}} }
\setkomafont{fromname}{\bfseries\color{mygray}\LARGE}
\setkomavar{fromaddress}{ {{- $secrets.personal.barbara.street }} {{ $secrets.personal.barbara.houseno }}\\{{ $secrets.personal.barbara.postal }} {{ $secrets.personal.barbara.city -}} }
\setkomavar{fromphone}[\Mobilefone~]{ {{- $secrets.personal.barbara.mobile | replace "-" "--" -}} }
\setkomavar{fromlandline}{ {{- $secrets.personal.barbara.landline | replace "-" "--" -}} }
\setkomavar{fromfax}{ {{- $secrets.personal.barbara.fax | replace "-" "--" -}} }
\setkomavar{fromemail}[\Letter~]{ {{- $secrets.personal.barbara.email -}} }
\setkomavar{signature}{\usekomavar{fromname}}
\setkomavar{place}{ {{- $secrets.personal.barbara.city -}} }

{{ joinPath (.chezmoi.sourceFile | dir) "bottom.lco.include" | include }}
