layer=overlay
font=Sans 10
{{ if eq .colorscheme "gruvbox" }}
# nord
background-color=#4c566a
[urgency=low]
border-color=#81a1c1

[urgency=normal]
border-color=#88c0d0

[urgency=high]
border-color=#bf616a
default-timeout=0
{{ else if eq .colorscheme "tokyonight" }}
background-color=#24283b
text-color=#c0caf5
width=350
margin=0,20,20
padding=10
border-size=2
border-color=#414868
border-radius=5
default-timeout=10000
group-by=summary

[grouped]
format=<b>%s</b>\n%b
{{ end }}
