{{- if eq .colorscheme.name "tokyonight" -}}
theme = "tokyonight_{{ .colorscheme.flavor }}"
{{- else if eq .colorscheme.name "catppuccin" -}}
theme = "catppuccin-{{ .colorscheme.flavor }}.conf"
{{- else -}}
# theme not defined for colorscheme {{ .colorscheme.name }}
{{- end }}

# Font Configuration
font-family = "Monaspace Neon Frozen Medium"
font-family-italic = "Monaspace Radon Frozen Medium"
font-size = 11

# Enable contextual alternates (texture healing)
font-feature = "calt,liga,ss01,ss02,ss03,ss04,ss06,ss07,ss09"

shell-integration = zsh
shell-integration-features = true
