{{ if and (hasKey .chezmoi.osRelease "id") (eq .chezmoi.osRelease.id "ubuntu" "debian") }}
if [ -n "$ZSH_VERSION" ]; then # emulate sh behaviour to not break shit
    emulate sh -c '. /etc/profile'
else
    . /etc/profile
fi
{{ end }}
