{{ if and (lookPath "zfs") (output "zfs" "list" "-o" "mountpoint" | contains "/home/azmo" ) -}}
{{/* if we do have $HOME on zfs podman needs some extra massaging */ -}}
[storage]
  driver = "overlay"
[storage.options]
  mount_program = "/usr/bin/fuse-overlayfs"
{{ end -}}
