{{- if eq .colorscheme.name "tokyonight" -}}
{{ .chezmoi.homeDir }}/.config/zathura/themes/tokyonight
{{- else if eq .colorscheme.name "catppuccin" -}}
{{ .chezmoi.homeDir }}/.externals/zathura/catppuccin/{{ printf "catppuccin-%s" .colorscheme.flavor }}
{{- end -}}
