export LS_COLORS="$(vivid generate {{ .colorscheme }})"

{{ if eq .colorscheme "dracula" }}
# source dracula zsh-syntax-highlighting theme
source "$HOME"/.vendor/dracula-zsh-syntax-highlighting/zsh-syntax-highlighting.sh
{{ end }}
{{ if hasPrefix "catppuccin" .colorscheme }}
{{ $flavor := trimPrefix "catppuccin-" .colorscheme }}
source {{ .chezmoi.homeDir }}/.externals/zsh-syntax-highlighting/catppuccin/catppuccin_{{ $flavor }}-zsh-syntax-highlighting.zsh
{{ end }}
