{{ if hasPrefix "tokyonight-" .colorscheme }}
export LS_COLORS="$(vivid generate one-dark)"
export EZA_COLORS="${LS_COLORS}"
{{ else }}
export LS_COLORS="$(vivid generate {{ .colorscheme }})"
export EZA_COLORS="${LS_COLORS}"
{{ end }}

{{ if hasPrefix "catppuccin" .colorscheme }}
{{ $flavor := trimPrefix "catppuccin-" .colorscheme }}
source {{ .chezmoi.homeDir }}/.externals/zsh-syntax-highlighting/catppuccin/catppuccin_{{ $flavor }}-zsh-syntax-highlighting.zsh
{{ end }}
