---
version: 2

global:
  options:
    all:
      verbose: true

locations:
  home-snapshot:
    {{ if regexFind "/home btrfs" (output "/usr/bin/cat" "/proc/mounts") }}
    from: /mnt/btrfs-root/btrbk-snapshots/{{ .chezmoi.hostname }}.home.latest
    {{ else if regexFind "/home zfs" (output "/usr/bin/cat" "/proc/mounts") }}
    from: /mnt/autorestic
    {{ end }}
    to: scaleway
    options:
      backup:
        exclude-file: {{ .chezmoi.homeDir }}/.config/autorestic/restic-excludes-workstations
        exclude-if-present: .nobackup
      forget:
        keep-last: 3
        keep-hourly: 12
        keep-daily: 14
        keep-weekly: 4
        keep-monthly: 12
        keep-yearly: 0
        keep-within: '6h'
    hooks:
      {{ if regexFind "/home btrfs" (output "/usr/bin/cat" "/proc/mounts") }}
      before:
        - mount -o bind $(/usr/local/bin/btrbk --format=raw list latest home | sed -r "s/^.*snapshot_subvolume='([0-9A-Za-z\/\.\-]+)'.*$/\1/") /mnt/btrfs-root/btrbk-snapshots/{{ .chezmoi.hostname }}.home.latest
      after:
        - umount /mnt/btrfs-root/btrbk-snapshots/{{ .chezmoi.hostname }}.home.latest
      {{ else if regexFind "/home zfs" (output "/usr/bin/cat" "/proc/mounts") }}
      before:
        - zfs list -t snapshot -s creation -o name -H dpool/home/azmo | tail -1 > /tmp/ar-home-azmo-latest
        - zfs clone $(cat /tmp/ar-home-azmo-latest) -o mountpoint=/mnt/autorestic/home/azmo -o readonly=on dpool/tmp-autorestic-$(zfs get -H -o value guid $(cat /tmp/ar-home-azmo-latest))
        - zfs get all $(cat /tmp/ar-home-azmo-latest) > /mnt/autorestic/dpool.home.azmo-all
      after:
        - zfs destroy dpool/tmp-autorestic-$(zfs get -H -o value guid $(cat /tmp/ar-home-azmo-latest))
      {{ end }}
      success:
        - chown azmo:azmo {{ .chezmoi.homeDir }}/.config/autorestic/.autorestic.lock.yml
        - curl -s --form-string 'token={{ (onepasswordItemFields "Pushover").restic.value }}' --form-string 'user={{ (onepasswordItemFields "Pushover").UserKey.value }}' --form-string "message=autorestic Backup successful on host '{{ .chezmoi.fqdnHostname }}'. Added Size is ${AUTORESTIC_ADDED_SIZE_SCALEWAY}." https://api.pushover.net/1/messages.json
      failure:
        - curl -s --form-string 'token={{ (onepasswordItemFields "Pushover").restic.value }}' --form-string 'user={{ (onepasswordItemFields "Pushover").UserKey.value }}' --form-string "message=autorestic Backup failed on host '{{ .chezmoi.fqdnHostname }}'" https://api.pushover.net/1/messages.json

backends:
  scaleway:
    type: s3
    path: "{{ (onepasswordItemFields "Backup Restic/Workstations").RepositoryURL_scaleway.value }}"
    key: {{ (onepasswordItemFields "Backup Restic/Workstations").password_scaleway.value }}
    env:
      AWS_ACCESS_KEY_ID: "{{ (onepasswordItemFields "Scaleway").restic_Access_Key_ID.value }}"
      AWS_SECRET_ACCESS_KEY: "{{ (onepasswordItemFields "Scaleway").restic_Access_Key_Secret.value }}"
      AWS_DEFAULT_REGION: "fr-par"
    options:
      backup:
        limit-upload: 3000


