# fire up ZVM initializing directly after sourcing, prevents stomping over other plugins' (like atuin) keybindings
# set very early early in .zsh so it knows what to do
ZVM_INIT_MODE="sourcing"
ZVM_VI_ESCAPE_BINDKEY=jk

# Lazy-load (autoload) Zsh function files from a directory.
ZFUNCDIR=${ZDOTDIR:-$HOME}/.zfunctions
fpath=($ZFUNCDIR $fpath)
autoload -Uz $ZFUNCDIR/*(.:t)

# Set any zstyles you might use for configuration.
[[ ! -f ${ZDOTDIR:-$HOME}/.zstyles ]] || source ${ZDOTDIR:-$HOME}/.zstyles

source "$ZDOTDIR"/.antidote/antidote.zsh
antidote load

# vim: ft=zsh
