# fire up ZVM initializing directly after sourcing, prevents stomping over other plugins' (like atuin) keybindings
# set very early early in .zsh so it knows what to do
ZVM_INIT_MODE="sourcing"
ZVM_VI_ESCAPE_BINDKEY=jk

source "$ZDOTDIR"/.antidote/antidote.zsh
zstyle ':antidote:bundle' use-friendly-names 'yes'
antidote load

# vim: ft=zsh
