#!/bin/bash

set -euo pipefail

function _escapeShortcut() {
  local _tab=$'\t'
  local _str=$1

  echo "${_str//\\t/${_tab}}"
}

if [[ ${XDG_CURRENT_DESKTOP:-} != "KDE" ]]; then
  exit 0
fi

{{ if eq .chezmoi.hostname "apollo" -}}
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kcminputrc --group "Libinput" --group "2" --group "7" --group "SynPS/2 Synaptics TouchPad" --key "NaturalScroll" "true"
{{ end -}}
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kcminputrc --group "Keyboard" --key "NumLock" 0
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kcminputrc --group "Keyboard" --key "RepeatDelay" 300

kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kdeglobals --group "KDE" --key "LookAndFeelPackage" "org.kde.breezedark.desktop"

# KDE's configuration is weird sometimes, source: https://unix.stackexchange.com/a/777045
_strCloseWindow="Meta+Shift+Q\tAlt+F4,Alt+F4,Close Window"
_strOverview="Meta+W\tMeta,Meta+W,Toggle Overview"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kglobalshortcutsrc --group "kwin" --key "Window Close" "$(_escapeShortcut "${_strCloseWindow}")"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kglobalshortcutsrc --group "kwin" --key "Overview" "$(_escapeShortcut "${_strOverview}")"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kglobalshortcutsrc --group "services" --group "net.local.1password.desktop" --key "_launch" "Meta+Shift+Space"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kglobalshortcutsrc --group "services" --group "net.local.1password-2.desktop" --key "_launch" "Meta+Shift+p"

kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kscreenlockerrc --group "Daemon" --key "LockGrace" 30
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kscreenlockerrc --group "Daemon" --key "Timeout" 10

kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/kwinrc --group "Effect-overview" --key "GridBorderActivate" 1

kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/baloofilerc --group "General" --key 'exclude folders' '$HOME/go/,$HOME/mail/'
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/baloofilerc --group "General" --key 'only basic indexing' 'true'

kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "AC" --group "Display" --key "UseProfileSpecificDisplayBrightness" "true"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "AC" --group "Performance" --key "PowerProfile" "performance"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "AC" --group "SuspendAndShutdown" --key "AutoSuspendIdleTimeoutSec" 3600

kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "Battery" --group "Display" --key "DisplayBrightness" 50
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "Battery" --group "Display" --key "UseProfileSpecificDisplayBrightness" "true"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "Battery" --group "Performance" --key "PowerProfile" "balanced"
kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "Battery" --group "SuspendAndShutdown" --key "AutoSuspendIdleTimeoutSec" 1800

kwriteconfig6 --file ${XDG_CONFIG_HOME:-$HOME/.config}/powerdevilrc --group "LowBattery" --group "Performance" --key "PowerProfile" "power-saver"
