#!/bin/bash

set -euo pipefail

{{ if lookPath "bat" }}
{{- $configHome := env "XDG_CONFIG_HOME" | default (joinPath .chezmoi.homeDir ".config") }}
{{ if stat (joinPath $configHome "bat/themes") }}
# bat theme directory: {{ output "ls" "-R" (joinPath $configHome "bat/themes/") | sha256sum }}
{{ else }}
# empty sha256sum
{{ end }}
bat cache --build > /dev/null
{{ end }}
