#!/bin/bash

set -Eeuo pipefail

if [ ! "$(command -v chezmoi)" ]; then
  bin_dir="$HOME/.local/bin"
  chezmoi="$bin_dir/chezmoi"
else
  chezmoi=chezmoi
fi

{{ if eq .chezmoi.os "linux" }}
if [[ $XDG_CURRENT_DESKTOP == 'KDE' ]] && [[ -e {{ .chezmoi.homeDir }}/.config/fontconfig/fonts.conf ]]; then
  echo "Protect our fonts.conf (KDE likes to mess with it)"
  sudo chattr +i {{ .chezmoi.homeDir }}/.config/fontconfig/fonts.conf
fi
{{ end }}

echo "Changing from (possible) https to ssh"
${chezmoi} git remote set-url origin git@github.com:azmodude/dotfiles
