#!/bin/bash

set -euo pipefail

if [[ ${XDG_CURRENT_DESKTOP:-} != "GNOME" ]]; then
  exit 0
fi

# dconf-settings.ini hash: {{ include (joinPath .chezmoi.sourceDir "dconf-settings.ini") | sha256sum }}
dconf load / < {{ joinPath .chezmoi.sourceDir "dconf-settings.ini" | quote }}

# Enable battery charge threshold
if [[ -f /sys/class/power_supply/BAT0/charge_control_end_threshold ]]; then
  dbus-send --print-reply --system --dest=org.freedesktop.UPower \
    /org/freedesktop/UPower/devices/battery_BAT0 \
    org.freedesktop.UPower.Device.EnableChargeThreshold boolean:true 2>/dev/null || true
fi
