{{ if and .colorscheme.name .colorscheme.flavor }}
export LS_COLORS="$(vivid generate {{ printf "%s-%s" .colorscheme.name .colorscheme.flavor }})"
{{ else }}
export LS_COLORS="$(vivid generate default)"
{{ end }}
export EZA_COLORS="${LS_COLORS}"

{{ if eq .colorscheme.name "catppuccin" }}
source {{ .chezmoi.homeDir }}/.externals/zsh-syntax-highlighting/catppuccin/catppuccin_{{ .colorscheme.flavor }}-zsh-syntax-highlighting.zsh
{{ end }}
