encryption = "gpg"

[gpg]
    recipient = "0xDEE550054AA972F6"
    suffix = ".asc"
    autoCommit = true

[merge]
    command = "nvim"
    args = "-d"

[data]
    gpgkey = "0xDEE550054AA972F6"
    gpgkey_fingerprint = "0A47650A15E4F0F4003EC450DEE550054AA972F6"
    gpg_signing_key = "F4998262A23E5B038988B1369B73D324A9B66BAC!"
    gpg_bootstrap_vault = "Private"
    gpg_bootstrap_item = "GPG Key Personal"
    gpg_bootstrap_public_field = "public_cert"
    gpg_bootstrap_secret_subkeys_field = "secret_subkeys"
    gpg_bootstrap_ownertrust_field = "ownertrust"
    is_work_machine = false
