[".externals/kitty/tokyonight"]
  type = "archive"
  url = "https://github.com/folke/tokyonight.nvim/archive/main.tar.gz"
  exact = true
  stripComponents = 3
  refreshPeriod = "168h"
  include = ["*/extras/kitty/*.conf"]

[".externals/kitty/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/kitty/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/themes", "*/themes/*.conf"]

[".externals/alacritty/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/alacritty/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/catppuccin-*.yml"]

[".externals/neomutt/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/neomutt/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"
  include = ["*/neomuttrc"]

[".externals/bat/themes/tokyonight"]
  type = "archive"
  url = "https://github.com/folke/tokyonight.nvim/archive/main.tar.gz"
  exact = true
  stripComponents = 3
  refreshPeriod = "168h"
  include = ["*/extras/sublime/*"]

[".externals/bat/themes/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
  exact = true
  stripComponents = 2
  refreshPeriod = "168h"
  include = ["*/themes/*.tmTheme"]

[".externals/btop/themes/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/btop/archive/main.tar.gz"
  exact = true
  stripComponents = 2
  refreshPeriod = "168h"
  include = ["*/themes/*.theme"]

[".externals/tmux/tokyonight"]
  type = "archive"
  url = "https://github.com/folke/tokyonight.nvim/archive/main.tar.gz"
  exact = true
  stripComponents = 3
  refreshPeriod = "168h"
  include = ["*/extras/tmux/*"]

[".config/hypr/themes/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/hyprland/archive/main.tar.gz"
  exact = true
  stripComponents = 2
  refreshPeriod = "168h"
  include = ["*/themes/*"]

[".config/nvim"]
  type = "git-repo"
  url = "https://github.com/gorschu/lazyvim.git"
  branch = "azmo"
  refreshPeriod = "24h"
  # [".config/nvim".pull]
  #     args = ["--depth", "1"]

[".externals/zsh-syntax-highlighting/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/zsh-syntax-highlighting/archive/main.tar.gz"
  exact = true
  stripComponents = 2
  refreshPeriod = "168h"
  include = ["*/themes/*"]

[".externals/lazygit/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/lazygit/archive/main.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".externals/yazi/flavors"]
  type = "git-repo"
  url = "https://github.com/yazi-rs/flavors.git"
  refreshPeriod = "168h"
[".externals/yazi/plugins"]
  type = "git-repo"
  url = "https://github.com/yazi-rs/plugins.git"
  refreshPeriod = "168h"

[".externals/mako/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/mako/archive/main.tar.gz"
  exact = true
  stripComponents = 2
  refreshPeriod = "168h"
  include = ["*/src/*"]

[".externals/glamour/catppuccin"]
  type = "archive"
  url = "https://github.com/catppuccin/glamour/archive/main.tar.gz"
  exact = true
  stripComponents = 2
  refreshPeriod = "168h"
  include = ["*/themes/*"]

[".zsh/.antidote"]
    type = "git-repo"
    url = "https://github.com/mattmc3/antidote.git"
    refreshPeriod = "168h"

[".zsh/fzf-git.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/junegunn/fzf-git.sh/refs/heads/main/fzf-git.sh"
  refreshPeriod = "168h"

[".config/fontconfig/conf.avail/10-nerd-font-symbols.conf"]
  type = "file"
  url = "https://raw.githubusercontent.com/ryanoasis/nerd-fonts/refs/heads/master/10-nerd-font-symbols.conf"
  resfreshPeriod = "7d"

{{ if ne .chezmoi.os "darwin" }}
{{ $tombVersion := "2.11" }}
[".externals/bin/tomb"]
  type = "file"
  url = "https://github.com/dyne/Tomb/archive/refs/tags/v{{ $tombVersion }}.tar.gz"
  executable = true
  [".externals/bin/tomb".filter]
    command = "tar"
    args = ["--extract", "--file", "/dev/stdin", "--gzip", "--to-stdout", "tomb-{{ $tombVersion }}/tomb"]
{{ end }}
