encryption = "gpg"

[gpg]
    recipient = "0x862A1F586514E275"
    suffix = ".asc"

[merge]
    command = "nvim"
    args = "-d"

[data]
    gpgkey = "0x862A1F586514E275"
    hostname = "v100wpxmk1wj04a"
