encryption = "gpg"

[gpg]
    recipient = "0xDEE550054AA972F6"
    suffix = ".asc"

[merge]
    command = "nvim"
    args = "-d"

[data]
    {{ if eq .hostname "hephaestus" }}
    wm = "kde"
  {{ else }}
    wm = "gnome"
  {{ end }}
    loginmanager = "true"
    email = "gordon@gordonschulz.de"
    gpgkey = "0xDEE550054AA972F6"
    colorscheme = "nord"

[keepassxc]
  database = "~/sync/admin/azmo.kdbx"
  args = "-y 2:{{ output "ykman" "list" "--serials" | trim }}"

{{ joinPath .chezmoi.sourceDir ".chezmoi.toml.tmpl.include.asc" | include | decrypt }}
