encryption = "gpg"

[gpg]
    recipient = "0xDEE550054AA972F6"
    suffix = ".asc"

[merge]
    command = "nvim"
    args = "-d"

[data]
    email = "gordon@gordonschulz.de"
    gpgkey = "0xDEE550054AA972F6"
    colorscheme = "tokyonight"

[keepassxc]
  database = "~/sync/admin/azmo.kdbx"
  args = "-y 2:{{ output "ykman" "list" "--serials" | trim }}"

{{ joinPath .chezmoi.sourceDir ".chezmoi.toml.tmpl.include.asc" | include | decrypt }}
