encryption = "gpg"

[gpg]
    recipient = "0xDEE550054AA972F6"
    suffix = ".gpg"

[merge]
    command = "nvim"
    args = "-d"

[data]
    wm = "kde"
    loginmanager = "true"
    email = "gordon@gordonschulz.de"
    gpgkey = "0xDEE550054AA972F6"
