[org/gnome/desktop/calendar]
show-weekdate=true

[org/gnome/desktop/datetime]
automatic-timezone=true

[org/gnome/desktop/input-sources]
mru-sources=[('xkb', 'de+nodeadkeys'), ('xkb', 'us')]
sources=[('xkb', 'de+nodeadkeys'), ('xkb', 'us')]
xkb-options=['caps:escape']

[org/gnome/desktop/interface]
clock-format='24h'
clock-show-weekday=true
color-scheme='prefer-dark'
cursor-theme='Adwaita'
document-font-name='Sans 11'
enable-hot-corners=false
font-antialiasing='rgba'
font-hinting='slight'
font-name='Inter 10'
gtk-theme='Adwaita-dark'
icon-theme='Adwaita'
monospace-font-name='Monospace 10'
show-battery-percentage=true

[org/gnome/desktop/notifications]
show-in-lock-screen=true

[org/gnome/desktop/peripherals/keyboard]
delay=uint32 250
numlock-state=true
remember-numlock-state=true
repeat-interval=uint32 30

[org/gnome/desktop/peripherals/mouse]
speed=0.33891213389121333

[org/gnome/desktop/peripherals/touchpad]
natural-scroll=true
send-events=true
speed=0.29999999999999999
tap-to-click=true
two-finger-scrolling-enabled=true

[org/gnome/desktop/privacy]
disable-camera=false
disable-microphone=false
old-files-age=uint32 30
recent-files-max-age=-1
remember-recent-files=true
remove-old-temp-files=true
remove-old-trash-files=true

[org/gnome/desktop/screensaver]
lock-delay=uint32 60
lock-enabled=true

[org/gnome/desktop/session]
{{ if eq (output "hostnamectl" "chassis" | trim) "desktop" }}idle-delay=uint32 600{{ else }}idle-delay=uint32 300{{ end }}

[org/gnome/desktop/wm/keybindings]
close=['<Shift><Super>q', '<Alt>F4']
maximize=@as []
show-desktop=['<Super>d']
unmaximize=@as []

[org/gnome/desktop/wm/preferences]
button-layout='icon:close'
resize-with-right-button=true
titlebar-font='Inter Medium 10'

[org/gnome/mutter]
edge-tiling=false

[org/gnome/mutter/keybindings]
toggle-tiled-left=@as []
toggle-tiled-right=@as []

[org/gnome/settings-daemon/plugins/color]
night-light-enabled=true
night-light-temperature=uint32 3500

[org/gnome/settings-daemon/plugins/media-keys]
custom-keybindings=['/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2/', '/org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3/']

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom0]
binding='<Super>Return'
command='/usr/bin/wezterm'
name='Terminal (Host)'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom1]
binding='<Shift><Super>f'
command='/usr/bin/nautilus'
name='Files'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom2]
binding='<Primary><Shift>space'
command='/usr/bin/1password --quick-access'
name='1Password Quick Access'

[org/gnome/settings-daemon/plugins/media-keys/custom-keybindings/custom3]
binding='<Super><Shift>p'
command='/usr/bin/1password --toggle'
name='1Password Toggle'

[org/gnome/settings-daemon/plugins/power]
idle-dim=true
sleep-inactive-ac-timeout=3600
sleep-inactive-ac-type='suspend'
sleep-inactive-battery-timeout=1800
sleep-inactive-battery-type='suspend'

[org/gnome/shell]
app-switcher=true
disable-user-extensions=false
disabled-extensions='[]'
enabled-extensions=['appindicatorsupport@rgcjonas.gmail.com', 'impatience@gfxmonk.net', 'drive-menu@gnome-shell-extensions.gcampax.github.com', 'windowsNavigator@gnome-shell-extensions.gcampax.github.com', 'gsconnect@andyholmes.github.io', 'caffeine@patapon.info', 'background-logo@fedorahosted.org', 'blur-my-shell@aunetx', 'dash-to-dock@micxgx.gmail.com', 'pano@elhan.io', 'tiling-assistant@leleat-on-github', 'places-menu@gnome-shell-extensions.gcampax.github.com']
favorite-apps=['firefox.desktop', 'org.wezfurlong.wezterm.desktop']

[org/gnome/shell/extensions/dash-to-dock]
apply-custom-theme=true
background-opacity=0.80000000000000004
click-action='focus-or-previews'
custom-theme-shrink=true
dash-max-icon-size=42
dock-position='BOTTOM'
extend-height=false
height-fraction=0.90000000000000002
intellihide-mode='FOCUS_APPLICATION_WINDOWS'
middle-click-action='launch'
multi-monitor=true
preferred-monitor=-2
preferred-monitor-by-connector='DP-7'
shift-click-action='minimize'
shift-middle-click-action='launch'
show-show-apps-button=false

[org/gnome/shell/extensions/pano]
play-audio-on-copy=false
send-notification-on-copy=false

[org/gnome/shell/extensions/tiling-assistant]
activate-layout0=@as []
activate-layout1=@as []
activate-layout2=@as []
activate-layout3=@as []
active-window-hint=1
active-window-hint-color='rgb(53,132,228)'
auto-tile=@as []
center-window=@as []
debugging-free-rects=@as []
debugging-show-tiled-rects=@as []
default-move-mode=0
dynamic-keybinding-behavior=0
import-layout-examples=false
last-version-installed=44
overridden-settings={'org.gnome.mutter.edge-tiling': <@mb nothing>, 'org.gnome.desktop.wm.keybindings.maximize': <@mb nothing>, 'org.gnome.desktop.wm.keybindings.unmaximize': <@mb nothing>, 'org.gnome.mutter.keybindings.toggle-tiled-left': <@mb nothing>, 'org.gnome.mutter.keybindings.toggle-tiled-right': <@mb nothing>}
restore-window=['<Super>Down']
search-popup-layout=@as []
single-screen-gap=4
tile-bottom-half=['<Super>KP_2']
tile-bottom-half-ignore-ta=@as []
tile-bottomleft-quarter=['<Super>KP_1']
tile-bottomleft-quarter-ignore-ta=@as []
tile-bottomright-quarter=['<Super>KP_3']
tile-bottomright-quarter-ignore-ta=@as []
tile-edit-mode=['<Control><Alt>space']
tile-left-half=['<Super>Left', '<Super>KP_4']
tile-left-half-ignore-ta=@as []
tile-maximize=['<Super>Up', '<Super>KP_5']
tile-maximize-horizontally=@as []
tile-maximize-vertically=@as []
tile-right-half=['<Super>Right', '<Super>KP_6']
tile-right-half-ignore-ta=@as []
tile-top-half=['<Super>KP_8']
tile-top-half-ignore-ta=@as []
tile-topleft-quarter=['<Super>KP_7']
tile-topleft-quarter-ignore-ta=@as []
tile-topright-quarter=['<Super>KP_9']
tile-topright-quarter-ignore-ta=@as []
toggle-always-on-top=@as []
toggle-tiling-popup=@as []
window-gap=4

[org/gnome/shell/weather]
automatic-location=true
locations=[<(uint32 2, <('Münster', 'EDDG', true, [(0.90989831088861295, 0.1343903524035634)], [(0.90698944043748397, 0.13322679375113633)])>)>]

[org/gnome/shell/world-clocks]
locations=[<(uint32 2, <('New York', 'KNYC', true, [(0.71180344078725644, -1.2909618758762367)], [(0.71059804659265924, -1.2916478949920254)])>)>]

[org/gnome/system/location]
enabled=true

[org/gtk/settings/file-chooser]
clock-format='24h'

[system/locale]
region='de_DE.UTF-8'
