[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[{Makefile,**.mk,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 4

