[user]
    name = Gordon Schulz
    email = {{ .email }}
    signingkey = {{ .gpgkey }}

[core]
    quotepath = false
    pager = delta

[init]
    {{- if stat (joinPath .chezmoi.homeDir ".git-template") }}
    templatedir = ~/.git-template
    {{- end }}
    defaultBranch = main

[fetch]
    prune = true

[delta]
  syntax-theme = {{ if eq .colorscheme "dracula" }}Dracula{{ else if eq .colorscheme "nord"}}Nord{{ else if eq .colorscheme "gruvbox"}}gruvbox-dark{{ end }}
  line-numbers = true
  side-by-side = true

[interactive]
    diffFilter = delta --color-only

[commit]
    gpgsign = true
    verbose = true

[tag]
    forceSignAnnotated = true
    gpgSign = true

[credential]
    helper = cache --timeout=3600

[color]
    ui = auto

[include]
    path=/home/azmo/.password-store/.gitconfig

[help]
    autocorrect = 20

[diff]
    tool = bc3
    colorMoved = default
[diff "gpg"]
    textconv = gpg --no-tty --decrypt
[difftool]
    prompt = true
    keepBackup = false
[difftool "meld"]
    trustExitCode = true
    cmd = meld "$LOCAL" "$REMOTE"
[difftool "bc3"]
    trustExitCode = true

[merge]
    tool = bc3
{{- /* This would required signed pushes, which... GitHub does not support
    verifySignatures = true
*/}}
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
[mergetool "meld"]
    # ONLY use one of these, personal preference
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
    trustExitCode = true
[mergetool "bc3"]
    trustExitCode = true


[gui]
    historybrowser = git-dag

[pull]
    rebase = true

[push]
    default = simple
{{- /* GitHub does not support signed pushes
 gpgSign = true
 */}}

[submodule]
    fetchJobs = 4

[http "https://gopkg.in"]
    followRedirects = true

[github]
    user = azmodude
[gpg]
    program = gpg2

[includeif "gitdir:~/work/**"]
    path = ~/work/.gitconfig

[includeif "gitdir:~/sync/work/**"]
    path = ~/work/.gitconfig
