#!/bin/bash

# set language specific stuff
export LANG="en_US.UTF-8"
export LC_CTYPE="de_DE.UTF-8"
export LC_NUMERIC="de_DE.UTF-8"
export LC_TIME="de_DE.UTF-8"
export LC_COLLATE="de_DE.UTF-8"
export LC_MONETARY="de_DE.UTF-8"
export LC_MESSAGES="en_US.UTF-8"
export LC_PAPER="de_DE.UTF-8"
export LC_NAME="de_DE.UTF-8"
export LC_ADDRESS="de_DE.UTF-8"
export LC_TELEPHONE="de_DE.UTF-8"
export LC_MEASUREMENT="de_DE.UTF-8"
export LC_IDENTIFICATION="en_US.UTF-8"

# set XDG stuff
export XDG_CONFIG_HOME="${XDG_CONFIG_HOME:-${HOME}/.config}"
export XDG_DATA_HOME="${XDG_DATA_HOME:-${HOME}/.local/share}"
export XDG_CACHE_HOME="${XDG_CACHE_HOME:-${HOME}/.cache}"
if [[ -d "/tmp/${USER}" ]]; then
  export TMPDIR="${TMPDIR:-/tmp/${USER}}"
  systemctl --user import-environment TMPDIR
fi

{{ if eq .chezmoi.os "linux" }}
systemctl --user import-environment XDG_CONFIG_HOME XDG_DATA_HOME XDG_CACHE_HOME
#
# set SSH Variables
{{ $ssh_askpass_base := "" }}
{{ $kssh_askpass_base := "" }}
{{ if eq .chezmoi.osRelease.id "opensuse-leap" "opensuse-tumbleweed" }}
    {{ $ssh_askpass_base = "/usr/libexec/ssh" }}
    {{ $kssh_askpass_base = $ssh_askpass_base }}
{{ else if eq .chezmoi.osRelease.id "ubuntu" "debian" }}
    {{ $ssh_askpass_base = "/usr/lib/openssh" }}
    {{ $kssh_askpass_base = "/bin" }}
{{ else if eq .chezmoi.osRelease.id "fedora" }}
    {{ $ssh_askpass_base = "/usr/libexec/openssh" }}
    {{ $kssh_askpass_base = "/usr/bin" }}
{{ else if eq .chezmoi.osRelease.id "arch" }}
    {{ $ssh_askpass_base = "/usr/lib/ssh" }}
    {{ $kssh_askpass_base = "/usr/bin" }}
{{ end }}
expr "$XDG_CURRENT_DESKTOP" : ".*GNOME.*" 1>/dev/null && export SSH_ASKPASS={{ $ssh_askpass_base }}/gnome-ssh-askpass
expr "$XDG_CURRENT_DESKTOP" : ".*KDE.*" 1>/dev/null && export SSH_ASKPASS={{ $kssh_askpass_base }}/ksshaskpass
[ -z "$SSH_ASKPASS" ] && export SSH_ASKPASS={{ $ssh_askpass_base }}/x11-ssh-askpass

# only set SSH_AUTH_SOCK when we not connected via SSH
# else we break SSH Agent Forwarding
if [[ -z ${SSH_CLIENT} ]]; then
  if [[ -S ${HOME}/.1password/agent.sock ]]; then
    export SSH_AUTH_SOCK="${HOME}/.1password/agent.sock"
  else
    export SSH_AUTH_SOCK=${XDG_RUNTIME_DIR}/ssh-agent.socket
  fi
  # import to systemctl user-environment
  systemctl --user import-environment SSH_AUTH_SOCK SSH_ASKPASS
fi
{{ end }}

