# load zgenom
source "{{ .chezmoi.homeDir }}/.externals/zgenom/zgenom.zsh"

# Check for plugin and zgenom updates every 7 days
# This does not increase the startup time.
zgenom autoupdate

# if the init script doesn't exist
if ! zgenom saved; then
  echo "Creating a zgenom save"

  zgenom prezto editor dot-expansion 'yes'
  zgenom prezto case-sensitive 'no'
  zgenom prezto color 'no'

  zgenom ohmyzsh
  zgenom prezto
  zgenom prezto environment
  zgenom prezto utility
  zgenom prezto completion
  zgenom prezto editor
  zgenom prezto directory
  zgenom prezto history
  zgenom prezto spectrum
  zgenom prezto terminal

  zgenom ohmyzsh plugins/git
  zgenom ohmyzsh plugins/rsync

  {{ if eq .chezmoi.osRelease.id "ubuntu" "debian" }}
  zgenom prezto dpkg
  {{ else if eq .chezmoi.osRelease.id "opensuse-leap" "opensuse-tumbleweed" }}
  zgenom ohmyzsh plugins/suse
  {{ else if eq .chezmoi.osRelease.id "fedora" }}
  zgenom prezto dnf
  {{ else if eq .chezmoi.osRelease.id "arch" }}
  zgenom prezto pacman
  {{ end }}

  zgenom load {{ .chezmoi.homeDir }}/.zshrc.d/00-zvm.zsh
  zgenom load jeffreytse/zsh-vi-mode

  zgenom load mdumitru/fancy-ctrl-z
  zgenom load zsh-users/zsh-completions
  zgenom load zdharma/fast-syntax-highlighting
  zgenom load hlissner/zsh-autopair

  # load our specific stuff
  zgenom load {{ .chezmoi.homeDir }}/.zshrc.d
  zgenom load {{ .chezmoi.homeDir }}/.zsh_completions.d

  zgenom compile "{{ .chezmoi.homeDir}}/.zshrc"
  zgenom compile "{{ .chezmoi.homeDir}}/.zshrc.d"
  zgenom compile "{{ .chezmoi.homeDir }}/.zsh_completions.d"

  zgenom save
fi

# vim: ft=sh
