{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

# dconf.ini hash: {{ include "dconf.ini.tmpl" | sha256sum }}

dconf=$(cat <<'EOF'
{{ includeTemplate "dconf.ini.tmpl" }}
EOF
)

tmpfile=$(mktemp)
echo "${dconf}" > ${tmpfile}
dconf load / < ${tmpfile}
rm -f ${tmpfile}
{{ end }}
