#!/bin/bash

set -Eeuxo pipefail

red=$(tput setaf 1)
green=$(tput setaf 2)
reset=$(tput sgr0)

if [ ! "$(command -v chezmoi)" ]; then
  bin_dir="$HOME/.local/bin"
  chezmoi="$bin_dir/chezmoi"
else
  chezmoi=chezmoi
fi

echo "${green}Protect our fonts.conf (KDE likes to mess with it)${reset}"
sudo chattr +i {{ .chezmoi.homeDir }}/.config/fontconfig/fonts.conf

echo "${green}Install fzf${reset}"
$HOME/.vendor/fzf/install --all

echo "${green}Install asdf plugins${reset}"
set +ux
. $HOME/.vendor/asdf/asdf.sh
asdf plugin list | grep -q "^golang$" || asdf plugin-add golang https://github.com/kennyp/asdf-golang.git
asdf plugin list | grep -q "^java$" || asdf plugin-add java https://github.com/halcyon/asdf-java.git
asdf plugin list | grep -q "^python$" || asdf plugin-add python https://github.com/danhper/asdf-python.git
asdf plugin list | grep -q "^kotlin$" || asdf plugin-add kotlin https://github.com/asdf-community/asdf-kotlin.git
set -ux

echo "${green}Install lunarvim${reset}"
{{ if eq .chezmoi.osRelease.id "fedora" }}
sudo dnf -y install npm cargo go fd-find ripgrep neovim
{{ else if eq .chezmoi.osRelease.id "opensuse-tumbleweed" "opensuse-leap" }}
sudo zypper in -y npm cargo go fd ripgrep neovim make
{{ end }}
[[ -e $HOME/.local/share/lunarvim ]] && rm -rf $HOME/.local/share/lunarvim
LV_BRANCH=rolling bash <(curl -s https://raw.githubusercontent.com/lunarvim/lunarvim/rolling/utils/installer/install.sh) -y

echo "${green}Changing from (possible) https to ssh${reset}"
${chezmoi} git remote set-url origin git@github.com:azmodude/dotfiles
