{{ if eq .chezmoi.os "darwin" }}
{{   include "run_once_before_bootstrap_before_darwin.sh" }}
{{ else if eq .chezmoi.os "linux" }}
{{   include "run_once_before_bootstrap_before_linux.sh" }}
{{ end }}
