{{ if and (hasKey . "hostname") (eq .chezmoi.hostname .hostname) -}}
  {{- $secrets := includeTemplate "secrets-work" . | fromJson -}}
  {{ if and (hasKey $secrets "user") (hasKey $secrets "password") -}}
export https_proxy='{{ $secrets.work.proxyProtocol }}://{{ $secrets.work.user }}:{{ $secrets.work.password }}@{{ $secrets.work.proxyHost }}:{{ $secrets.work.proxyPort }}'
  {{ else -}}
export https_proxy={{ $secrets.work.proxyProtocol }}://{{ $secrets.work.proxyHost }}:{{ $secrets.work.proxyPort }}
  {{ end }}
export no_proxy='{{ $secrets.work.proxyExclusion }}'
{{ end }}
