# source in fzf
{{ if eq .chezmoi.os "linux" }}
# fedora
[ -f /usr/share/fzf/shell/key-bindings.zsh ] && source /usr/share/fzf/shell/key-bindings.zsh
# arch
[ -f /usr/share/fzf/key-bindings.zsh ] && source /usr/share/fzf/key-bindings.zsh
# linuxbrew
[ -f /home/linuxbrew/.linuxbrew/opt/fzf/shell/key-bindings.zsh ] && source /home/linuxbrew/.linuxbrew/opt/fzf/shell/key-bindings.zsh
# custom install via install script
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
{{ else if eq .chezmoi.os "darwin" }}
[ -d ~/homebrew/opt/fzf/shell ] && source ~/homebrew/opt/fzf/shell/key-bindings.zsh && source ~/homebrew/opt/fzf/shell/completion.zsh
{{ end }}

