{{- if eq .colorscheme.name "catppuccin" }}
source = ~/.config/hypr/themes/catppuccin/{{ .colorscheme.flavor }}.conf
{{- else if eq .colorscheme.name "tokyonight" }}
source = ~/.config/hypr/themes/tokyonight/{{ .colorscheme.flavor }}.conf
{{- else }}
# No theme file available for {{ .colorscheme.name }}
{{- end }}

# Core
source = ~/.config/hypr/conf.d/10-env.conf
source = ~/.config/hypr/conf.d/20-input.conf

# Visuals
source = ~/.config/hypr/conf.d/30-appearance.conf

# Window behavior
source = ~/.config/hypr/conf.d/40-windowrules.conf

# Controls
source = ~/.config/hypr/conf.d/50-keybinds.conf

# Session startup
source = ~/.config/hypr/conf.d/90-autostart.conf
