{{- if eq .colorscheme.name "catppuccin" }}
source = ~/.config/hypr/themes/catppuccin/{{ .colorscheme.flavor }}.conf
{{- else if eq .colorscheme.name "tokyonight" }}
source = ~/.config/hypr/themes/tokyonight/{{ .colorscheme.flavor }}.conf
{{- else }}
# No theme file available for {{ .colorscheme.name }}
{{- end }}

source = ~/.config/hypr/conf.d/*.conf
