{{ if eq .colorscheme "dracula "}}{{ .chezmoi.homeDir }}/.vendor/dracula-konsole/Dracula.colorscheme{{ else if eq .colorscheme "nord" }}{{ .chezmoi.homeDir }}/.vendor/nord-konsole/src/nord.colorscheme{{ end }}
