{{ if ne .chezmoi.os "darwin" }}
{{ if eq .chezmoi.osRelease.id "fedora" }}
# Fedora desktops commonly have pcscd around already. If smartcard commands are
# used, go through PC/SC instead of having scdaemon claim the CCID device.
disable-ccid
# let the card relock itself after 10 minutes of inactivity
card-timeout 600
{{ end }}
{{ end }}
