{{ if hasPrefix "tokyonight-" .colorscheme }}
{{ $flavor := trimPrefix "tokyonight-" .colorscheme }}
{{ .chezmoi.homeDir }}/.externals/kitty/tokyonight/tokyonight_{{ $flavor }}.conf
{{ else if hasPrefix "catppuccin-" .colorscheme }}
{{ $flavor := trimPrefix "catppuccin-" .colorscheme }}
{{ .chezmoi.homeDir }}/.externals/kitty/catppuccin/themes/{{ $flavor }}.conf
{{ end }}
