{{ if eq .colorscheme "dracula"}}{{ .chezmoi.homeDir }}/.vendor/dracula-mutt/dracula.muttrc{{ else if eq .colorscheme "nord" }}./okubax.mutt{{ else if eq .colorscheme "gruvbox"}}./colors-gruvbox-shruber.muttrc{{ end }}
