{{ ansible_managed | comment }}
RESTIC_PASSWORD="{{ resticprofile_backend_credentials[backend].password }}"
{% if resticprofile_backend_credentials[backend].get('aws_access_key_id') %}
AWS_ACCESS_KEY_ID="{{ resticprofile_backend_credentials[backend].aws_access_key_id }}"
AWS_SECRET_ACCESS_KEY="{{ resticprofile_backend_credentials[backend].aws_secret_access_key }}"
{% endif %}
{% if resticprofile_backend_credentials[backend].get('b2_account_id') %}
B2_ACCOUNT_ID="{{ resticprofile_backend_credentials[backend].b2_account_id }}"
B2_ACCOUNT_KEY="{{ resticprofile_backend_credentials[backend].b2_account_key }}"
{% endif %}
