{{- if eq .colorscheme.name "tokyonight" -}}
{{- if eq .colorscheme.flavor "day" -}}
theme "tokyo-night-day"
{{- else if eq .colorscheme.flavor "moon" -}}
theme "tokyo-night"
{{- else if eq .colorscheme.flavor "night" -}}
theme "tokyo-night-dark"
{{- else if eq .colorscheme.flavor "storm" -}}
theme "tokyo-night-storm"
{{- else -}}
theme "tokyo-night-{{ .colorscheme.flavor }}"
{{- end -}}
{{- else if eq .colorscheme.name "catppuccin" -}}
theme "catppuccin-{{ .colorscheme.flavor }}"
{{- else -}}
# theme not defined for {{ .colorscheme.name }}
{{- end -}}
