[Desktop Entry]
Name=1Password Quick Access
Exec=/opt/1Password/1password --quick-access
Terminal=false
Type=Application
Icon=1password
NoDisplay=true
StartupNotify=false
