[Desktop Entry]
Name=1Password Toggle
Exec=/opt/1Password/1password --toggle
Terminal=false
Type=Application
Icon=1password
NoDisplay=true
StartupNotify=false
