macro index,pager ,gf "<change-folder>+{{ .mail.gatgordonschulzdotde.email }}/Inbox<enter>"
macro index,pager ,gm "<change-folder>+{{ .mail.gsatgmaildotcom.email }}/Inbox<enter>"
macro index,pager ,gy "<change-folder>+{{ .mail.mfatyahoodotde.email }}/INBOX<enter>"
