# style name or JSON path (default "auto")
{{- $configHome := env "XDG_CONFIG_HOME" | default (joinPath .chezmoi.homeDir ".config") }}
{{ if eq .colorscheme.name "catppuccin" }}
style: "{{ joinPath $configHome "glow/themes" }}/catppuccin-{{ .colorscheme.flavor }}.json"
{{ else if eq .colorscheme.name "tokyonight" }}
style: "{{ joinPath $configHome "glow/themes" }}/tokyonight_{{ .colorscheme.flavor }}.json"
{{ else }}
style: "auto"
{{ end }}
# mouse support (TUI-mode only)
mouse: false
# use pager to display markdown
pager: false
# word-wrap at width
width: 80
