{{- if joinPath .chezmoi.sourceDir (.chezmoi.sourceFile | dir) .chezmoi.hostname "/encrypted_private_cert.pem.asc" | lstat -}}
{{- include (printf "%v/%v/%v" (joinPath (.chezmoi.sourceFile | dir)) .chezmoi.hostname "/encrypted_private_cert.pem.asc") | decrypt -}}
{{- end -}}
