---
{{ if hasPrefix "tokyonight-" .colorscheme -}}
{{ $flavor := trimPrefix "tokyonight-" .colorscheme }}
{{ if eq $flavor "moon" }}
theme "tokyo-night"
{{ else if eq $flavor "night" }}
theme "tokyo-night-dark"
{{ else }}
theme "tokyo-night-{{ $flavor }}";
{{ end }}
{{ else if hasPrefix "catppuccin-" .colorscheme -}}
{{ $flavor := trimPrefix "catppuccin-" .colorscheme }}
theme "catppuccin-{{ $flavor }}";
{{ end }}
