{{ if hasPrefix "catppuccin-" .colorscheme }}
{{ $flavor := trimPrefix "catppuccin-" .colorscheme}}
{{ include ( joinPath .chezmoi.homeDir ".externals/lazygit/catppuccin/themes/" (print $flavor "/macchiato-peach.yml") ) }}
{{ end }}
