{{ if hasPrefix "catppuccin-" .colorscheme }}
{{ $flavor := trimPrefix "catppuccin-" .colorscheme}}
{{ include ( joinPath .chezmoi.homeDir ".externals/lazygit/catppuccin/" (print $flavor ".yml") ) }}
{{ end }}
