{{ if eq .colorscheme.name "catppuccin" }}
[flavor]
dark = "catppuccin"
light = "catppuccin"
{{ else if eq .colorscheme.name "tokyonight" }}
[flavor]
dark = "tokyonight"
light = "tokyonight"
{{ end }}
