[Unit]
Description=Periodically sync calendars, contacts and tasks

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
AccuracySec=1min

[Install]
WantedBy=timers.target
