# khard configuration - managed by chezmoi

[addressbooks]

[[addressbooks.Personal]]
path = ~/.local/share/vdirsyncer/contacts/

[general]
editor = {{ if lookPath "nvim" }}nvim{{ else }}vi{{ end }}
merge_editor = {{ if lookPath "nvim" }}nvim -d{{ else }}vi{{ end }}
