{{- $theme := includeTemplate "palettes/active-theme" . | fromJson -}}
{{- $promptColor := $theme.selected.accent -}}
{{- $errorColor := $theme.semantic.error -}}
{{- $successColor := $theme.semantic.success -}}
{{- $warningColor := $theme.semantic.warning -}}
{{- $infoColor := $theme.semantic.info -}}
{{- $secondaryColor := $theme.semantic.secondary -}}
{{- $mutedColor := $theme.ui.fg_muted | default $theme.ui.comment -}}
{{- $replaceColor := "" -}}
{{- if eq $theme.name "tokyonight" -}}
  {{- $replaceColor = $theme.accent.magenta -}}
{{- else -}}
  {{- $replaceColor = $theme.accent.mauve -}}
{{- end -}}
[aws]
disabled = false
symbol = "  "

[character]
error_symbol = "[~~>](bold {{ $errorColor }}) "
success_symbol = "[=>>](bold {{ $promptColor }}) "
vimcmd_replace_one_symbol = "[<<=](bold {{ $replaceColor }}) "
vimcmd_replace_symbol = "[<<=](bold {{ $replaceColor }}) "
vimcmd_symbol = "[<<=](bold {{ $warningColor }}) "
vimcmd_visual_symbol = "[<<=](bold {{ $secondaryColor }}) "

[cmd_duration]
disabled = false
format = "  [$duration]($style) "
min_time_to_notify = 180000
show_notifications = true
style = "bold {{ $warningColor }}"

[conda]
symbol = " "

[dart]
symbol = " "

[directory]
fish_style_pwd_dir_length = 1
read_only = " "
read_only_style = "bold {{ $errorColor }}"
style = "bold {{ $infoColor }}"
truncation_length = 3
truncation_symbol = "…/"

[docker_context]
disabled = false
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[fill]
disabled = false
symbol = " "

[gcloud]
disabled = false
symbol = " "

[git_branch]
disabled = false
symbol = " "
style = "bold {{ $promptColor }}"

[git_commit]
disabled = false
only_detached = false
tag_disabled = false

[git_metrics]
disabled = false
added_style = "bold {{ $successColor }}"
deleted_style = "bold {{ $errorColor }}"

[git_status]
disabled = false
style = "bold {{ $warningColor }}"
deleted = "󱂥 "
ahead = "󰩍 "
behind = "󰥥 "

[golang]
symbol = " "

[hg_branch]
symbol = " "
style = "bold {{ $promptColor }}"

{{- $hostnameColor := $theme.semantic.primary -}}
{{- $rootColor := $theme.semantic.error -}}
{{- $userColor := $theme.ui.fg -}}
{{- if and (eq $theme.name "tokyonight") (eq $theme.meta.appearance "dark") -}}
  {{- $userColor = $theme.ui.fg_dark -}}
{{- end }}
[hostname]
format = "[@$hostname]($style) in "
ssh_only = false
ssh_symbol = "󰣀  "
style = "{{ $hostnameColor }}"

[java]
symbol = " "

[julia]
symbol = " "

[kubernetes]
disabled = false

[memory_usage]
symbol = "󰍛  "

[nix_shell]
disabled = false
impure_msg = ""
symbol = " "

[nodejs]
symbol = " "

[os]
disabled = false
style = "bold {{ $infoColor }}"
[os.symbols]
Fedora = "  "
Arch = "󰣇 "

[package]
symbol = "  "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[scala]
symbol = " "

[shlvl]
disabled = true
repeat = false
threshold = 2

[status]
disabled = false
map_symbol = true
sigint_symbol = "‼️"
format = '[\[$symbol$common_meaning$signal_name$maybe_int\]]($style) '
style = "bold {{ $errorColor }}"

[terraform]
symbol = "󱁢 "

[time]
disabled = false
format = "at [$time]($style) "
style = "bold {{ $secondaryColor }}"

[username]
format = "[$user]($style)"
show_always = true
style_root = "bold {{ $rootColor }}"
style_user = "bold {{ $promptColor }}"
