set realname = "{{ .mail.mfatyahoodotde.name}}
set from = "{{ .mail.mfatyahoodotde.email }}"
set sendmail = "$HOME/bin/mail/msmtp-enqueue.sh"

# Set folders
set spoolfile = "+{{ .mail.mfatyahoodotde.email }}/Inbox"
set mbox = "+{{ .mail.mfatyahoodotde.email }}/Archive"
set postponed = "+{{ .mail.mfatyahoodotde.email }}/Draft"
set record = "+{{ .mail.mfatyahoodotde.email }}/Sent"
set trash = "+{{ .mail.mfatyahoodotde.email }}/Trash"

# first reset all mailboxes
unmailboxes *
# then create a list of for that account mailboxes dynamically
mailboxes `find ~/mail/{{ .mail.mfatyahoodotde.email }}/* -type d | grep -v "tmp\|new\|cur" | sed 's|/home/azmo/mail/|=\"|g' | sed 's|$|\"|g' | tr '\n' ' '`
# and finally add the inboxes of our other accounts to switch quickly
mailboxes `find ~/mail/* -type d | grep -i Inbox | grep -v "tmp\|new\|cur" | sed 's|/home/azmo/mail/|=\"|g' | sed 's|$|\"|g' | tr '\n' ' '`

# Alternate email addresses.
#alternates ^kontakt@webgefrickel.de$ ^s.rademacker@mailbox.org$

# custom signaure
set signature = $XDG_CONFIG_HOME/neomutt/private/signatures/mf@yahoo.de

# set color status to make it easier to distinguish accounts
color status yellow default

macro index S "<shell-escape>syncmail yahoo-{{ .mail.mfatyahoodotde.email }}<enter>" "run mbsync to sync mail for this account"

macro index,pager ,i "<change-folder>+{{ .mail.mfatyahoodotde.email }}/Inbox<enter>"
#
macro index,pager ,Z \
  "<enter-command>set my_old_resolve=\$resolve noresolve<enter>\
  <tag-prefix><clear-flag>n<enter-command>set resolve=\$my_old_resolve<enter>\
  <save-message>+{{ .mail.mfatyahoodotde.email }}/Bulk Mail<enter>" \
  "mark as read and zap to Spam"

macro index,pager ,A \
  "<save-message>+{{ .mail.mfatyahoodotde.email }}/Archive<enter>"  \
  "move message to the archive"
#
macro index,pager ,I \
  "<save-message>+{{ .mail.mfatyahoodotde.email }}/Inbox<enter>"  \
  "move message to the inbox"

# remove save-hooks from other accounts
unhook save-hook

# vim: ft=muttrc
