# when changing into other mailboxes, use different adresses etc.
folder-hook {{ .mail.gatgordonschulzdotde.email }}/* source $XDG_CONFIG_HOME/neomutt/private/accounts/g@gordonschulz.de
folder-hook {{ .mail.gsatgmaildotcom.email }}/* source $XDG_CONFIG_HOME/neomutt/private/accounts/gs@gmail.com
folder-hook {{ .mail.mfatyahoodotde.email }}/* source $XDG_CONFIG_HOME/neomutt/private/accounts/mf@yahoo.de


# vim: ft=muttrc
