Xft.autohint:  0
Xft.hinting:   1
Xft.hintstyle: hintslight
Xft.antialias: 1
Xft.rgba:      rgb
Xft.lcdfilter: lcddefault
{{ if eq .chezmoi.hostname "artemis" }}Xft.dpi: 96{{ else }}Xft.dpi: 96{{ end }}

! vim: ft=xdefaults
