# NFS setup
music_directory     "nfs://zeus.fritz.box/media/merged/music/files"

auto_update "yes"
replaygain "album"
replaygain_preamp "0"
volume_normalization "yes"
gapless_mp3_playback "yes"

# Note the proxy here
database {
    plugin  "proxy"
    host    "zeus"
    port    "6600"
    password "{{ (onepasswordDetailsFields "mpd zeus" "Personal").password.value }}"
}

audio_output {
    type  "pipewire"
    name  "Pipewire output"
}

