{{ if eq .chezmoi.os "linux" -}}
{{ .chezmoi.homeDir }}/.externals/atuin/completions/_atuin
{{ else if eq .chezmoi.os "darwin" }}
{{ .chezmoi.homeDir }}/homebrew/opt/atuin/share/zsh/site-functions/_atuin
{{ end -}}
