[Unit]
Description=btrbk /root snapshots
Documentation=man:btrbk(1)
ConditionPathExists=/etc/btrbk/btrbk-root.conf
Requires=mnt-btrfs_root.mount
After=mnt-btrfs_root.mount

[Service]
Type=oneshot
ExecStartPre=/usr/bin/mkdir -p /mnt/btrfs_root/snapshots/root
ExecStart=/usr/bin/btrbk -c /etc/btrbk/btrbk-root.conf run
StandardOutput=journal
StandardError=journal
