[Unit]
Description=btrbk /home snapshot timer (15 minute interval)

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
