{{- $secrets := (joinPath .chezmoi.sourceDir "secrets" "mail.toml.asc" | include | decrypt | fromToml) -}}
IMAPAccount fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}
    Host imap.fastmail.com
    User {{ $secrets.mail.gatgordonschulzdotde.email }}
    PassCmd "$HOME/bin/mail/get_mail_password.sh 'Fastmail'"
    TLSType IMAPS
    {{- if eq .chezmoi.osRelease.id "arch" }}
    CertificateFile /etc/ssl/certs/ca-certificates.crt
    {{- else if eq .chezmoi.osRelease.id "opensuse-leap" "opensuse-tumbleweed" }}
    CertificateFile /etc/ssl/ca-bundle.pem
    {{- else if eq .chezmoi.osRelease.id "fedora" }}
    CertificateFile /etc/ssl/cert.pem
    {{- end }}

IMAPStore fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}-remote
    Account fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}

MaildirStore fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}-local
    Subfolders Verbatim
    # The trailing "/" is important
    Path ~/mail/{{ $secrets.mail.gatgordonschulzdotde.email }}/
    Inbox ~/mail/{{ $secrets.mail.gatgordonschulzdotde.email }}/Inbox

Channel fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}
    Far :fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}-remote:
    Near :fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}-local:
    Patterns *
    Create Both
    Expunge Both
    SyncState *
    Sync All
    # keep date and time intact when moving mails around
    CopyArrivalDate yes

IMAPAccount yahoo-{{ $secrets.mail.mfatyahoodotde.email }}
    Host imap.mail.yahoo.com
    AuthMechs *
    User {{ $secrets.mail.mfatyahoodotde.email }}
    PassCmd "$HOME/bin/mail/get_mail_password.sh 'Yahoo {{ $secrets.mail.mfatyahoodotde.email }}'"
    TLSType IMAPS
    {{- if eq .chezmoi.osRelease.id "arch" }}
    CertificateFile /etc/ssl/certs/ca-certificates.crt
    {{- else if eq .chezmoi.osRelease.id "opensuse-leap" "opensuse-tumbleweed" }}
    CertificateFile /etc/ssl/ca-bundle.pem
    {{- else if eq .chezmoi.osRelease.id "fedora" }}
    CertificateFile /etc/ssl/cert.pem
    {{- end }}

IMAPStore yahoo-{{ $secrets.mail.mfatyahoodotde.email }}-remote
    Account yahoo-{{ $secrets.mail.mfatyahoodotde.email }}

MaildirStore yahoo-{{ $secrets.mail.mfatyahoodotde.email }}-local
    Subfolders Verbatim
    # The trailing "/" is important
    Path ~/mail/{{ $secrets.mail.mfatyahoodotde.email }}/
    Inbox ~/mail/{{ $secrets.mail.mfatyahoodotde.email }}/INBOX

Channel yahoo-{{ $secrets.mail.mfatyahoodotde.email }}
    Far :yahoo-{{ $secrets.mail.mfatyahoodotde.email }}-remote:
    Near :yahoo-{{ $secrets.mail.mfatyahoodotde.email }}-local:
    Patterns *
    Create Both
    Expunge Both
    SyncState *
    Sync All
    # keep date and time intact when moving mails around
    CopyArrivalDate yes

IMAPAccount gmail-{{ $secrets.mail.gsatgmaildotcom.email }}
    Host imap.gmail.com
    AuthMechs *
    User {{ $secrets.mail.gsatgmaildotcom.email }}
    PassCmd "$HOME/bin/mail/get_mail_password.sh 'Google Main'"
    TLSType IMAPS
    {{- if eq .chezmoi.osRelease.id "arch" }}
    CertificateFile /etc/ssl/certs/ca-certificates.crt
    {{- else if eq .chezmoi.osRelease.id "opensuse-leap" "opensuse-tumbleweed" }}
    CertificateFile /etc/ssl/ca-bundle.pem
    {{- else if eq .chezmoi.osRelease.id "fedora" }}
    CertificateFile /etc/ssl/cert.pem
    {{- end }}

IMAPStore gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-remote
    Account gmail-{{ $secrets.mail.gsatgmaildotcom.email }}

MaildirStore gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-local
    SubFolders Verbatim
    Path ~/mail/{{ $secrets.mail.gsatgmaildotcom.email }}/
    Inbox ~/mail/{{ $secrets.mail.gsatgmaildotcom.email }}/Inbox

Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}
    Far :gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-remote:
    Near :gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-local:
    # Exclude everything under the internal [Gmail] folder, except the interesting folders
    Patterns * ![Gmail]* !all-mail !sent-mail !trash !spam
    # Automatically create missing mailboxes, both locally and on the server
    Create Both
    Expunge Both
    # Save the synchronization state files in the relevant directory
    SyncState *
    Sync All
    # keep date and time intact when moving mails around
    CopyArrivalDate yes

Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-all-mail
    Far :gmail-gordon.schulz@gmail.com-remote:"[Gmail]/All Mail"
    Near :gmail-gordon.schulz@gmail.com-local:all-mail
    # Automatically create missing mailboxes, both locally and on the server
    Create Near
    Expunge Both
    # Save the synchronization state files in the relevant directory
    SyncState *
    Sync All
    # keep date and time intact when moving mails around
    CopyArrivalDate yes

Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-sent-mail
    Far :gmail-gordon.schulz@gmail.com-remote:"[Gmail]/Sent Mail"
    Near :gmail-gordon.schulz@gmail.com-local:sent-mail
    # Automatically create missing mailboxes, both locally and on the server
    Create Near
    Expunge Both
    # Save the synchronization state files in the relevant directory
    SyncState *
    Sync All
    # keep date and time intact when moving mails around
    CopyArrivalDate yes

Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-trash
    Far :gmail-gordon.schulz@gmail.com-remote:"[Gmail]/Trash"
    Near :gmail-gordon.schulz@gmail.com-local:trash
    # Automatically create missing mailboxes, both locally and on the server
    Create Near
    Expunge Both
    # Save the synchronization state files in the relevant directory
    SyncState *
    Sync All
    # keep date and time intact when moving mails around
    CopyArrivalDate yes

Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-spam
    Far :gmail-gordon.schulz@gmail.com-remote:"[Gmail]/Spam"
    Near :gmail-gordon.schulz@gmail.com-local:spam
    # Automatically create missing mailboxes, both locally and on the server
    Create Near
    Expunge Both
    # Save the synchronization state files in the relevant directory
    SyncState *
    Sync All
    # keep date and time intact when moving mails around
    CopyArrivalDate yes

Group gmail
    Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}
    Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-all-mail
    Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-sent-mail
    Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-trash
    Channel gmail-{{ $secrets.mail.gsatgmaildotcom.email }}-spam

