{{- $secrets := (joinPath .chezmoi.sourceDir "secrets" "mail.toml.asc" | include | decrypt | fromToml) -}}
# Set default values for all following accounts.
defaults
auth           on
tls            on
{{- if eq .chezmoi.osRelease.id "arch" }}
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{{- else if eq .chezmoi.osRelease.id "opensuse-leap" "opensuse-tumbleweed" }}
tls_trust_file /etc/ssl/ca-bundle.pem
{{- else if eq .chezmoi.osRelease.id "fedora" }}
tls_trust_file /etc/ssl/cert.pem
{{- end }}
logfile        ~/.local/share/msmtp.log

# FastMail
account         fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}
host            smtp.fastmail.com
port            587
from            {{ $secrets.mail.gatgordonschulzdotde.email }}
user            {{ $secrets.mail.gatgordonschulzdotde.email }}
passwordeval    "$HOME/bin/mail/get_mail_password.sh Fastmail"

account         yahoo-{{ $secrets.mail.mfatyahoodotde.email }}
host            smtp$secrets.mail.yahoo.com
port            587
from            {{ $secrets.mail.mfatyahoodotde.email }}
user            {{ $secrets.mail.mfatyahoodotde.email }}
passwordeval    "$HOME/bin/mail/get_mail_password.sh 'Yahoo {{ $secrets.mail.mfatyahoodotde.email }}'"

account         gmail-{{ $secrets.mail.gsatgmaildotcom.email }}
host            smtp.gmail.com
port            587
from            {{ $secrets.mail.gsatgmaildotcom.email }}
user            {{ $secrets.mail.gsatgmaildotcom.email }}
passwordeval    "$HOME/bin/mail/get_mail_password.sh 'Google Main'"

account default : fastmail-{{ $secrets.mail.gatgordonschulzdotde.email }}
