[alias]
    dft = difftool --tool difftastic
    fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"

[color]
    ui = auto

[commit]
    gpgsign = true
    verbose = true

[credential]
    helper = cache --timeout=3600
    {{ if and (hasKey . "hostname") (eq .chezmoi.hostname .hostname) }}
	  helper = osxkeychain
	  {{ end }}

[core]
    quotepath = false
    pager = bat

[diff]
    tool = bc3
    colorMoved = "dimmed-zebra"
[diff "gpg"]
    textconv = gpg --no-tty --decrypt
[difftool]
    prompt = false
    keepBackup = false
[difftool "bc3"]
    trustExitCode = true
[difftool "meld"]
    trustExitCode = true
    cmd = meld "$LOCAL" "$REMOTE"
[difftool "difftastic"]
        cmd = difft --color auto --background dark --display side-by-side "$LOCAL" "$REMOTE"

[feature]
    manyFiles = true

[fetch]
    prune = true

[filter "lfs"]
	clean = "git-lfs clean -- %f"
	process = "git-lfs filter-process"
	required = true
	smudge = "git-lfs smudge -- %f"

{{ if and (hasKey . "hostname") (eq .chezmoi.hostname .hostname) }}
[lfs "https://github.intern/"]
    locksverify = true
[lfs "https://github-abnahme.intern/"]
    locksverify = true
[lfs "https://github-entwicklung.intern/"]
    locksverify = true
{{ end }}

[github]
    user = azmodude

[gui]
    historybrowser = git-dag

[help]
    autocorrect = 20

[includeif "gitdir:~/projects/work/**"]
    path = ~/projects/work/.gitconfig
[includeif "gitdir:~/sync/workstations/projects/work/**"]
    path = ~/projects/work/.gitconfig

[init]
    {{- if stat (joinPath .chezmoi.homeDir ".git-template") }}
    templatedir = ~/.git-template
    {{- end }}
    defaultBranch = main

[merge]
    tool = bc3
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
[mergetool "meld"]
    # ONLY use one of these, personal preference
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
    trustExitCode = true
[mergetool "bc3"]
    trustExitCode = true

[pager]
    difftool = bat

[pull]
    rebase = true

[push]
    default = simple
    autoSetupRemote = true

[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true

[submodule]
    fetchJobs = 4
    recurse = true

[tag]
    forceSignAnnotated = true
    gpgSign = true

[user]
{{ if and (hasKey . "hostname") (eq .chezmoi.hostname .hostname) }}
  {{- $secrets := (joinPath .chezmoi.sourceDir "secrets" "work.toml.asc" | include | decrypt | fromToml) -}}
  name = {{ $secrets.work.name }}
  email = {{ $secrets.work.email }}
{{ else }}
  {{- $secrets := (joinPath .chezmoi.sourceDir "secrets" "personal.toml.asc" | include | decrypt | fromToml) -}}
  name = Gordon Schulz
  email = {{ $secrets.personal.azmo.email }}
{{ end }}
  signingkey = {{ .gpgkey }}

