{{- $brewPrefix := env "HOMEBREW_PREFIX" | default "/home/linuxbrew/.linuxbrew" }}
[Unit]
Description=Atuin daemon

[Service]
Type=simple
EnvironmentFile=%h/.config/homebrew/env
ExecStart={{ $brewPrefix }}/bin/atuin daemon
Restart=always

[Install]
WantedBy=default.target
