[Unit]
Description=gocryptfs Dropbox Mount Unit
ConditionPathIsDirectory=%h/Dropbox/encrypted

[Service]
Type=forking
# make sure we don't use homebrew libfuse shenanigans
Environment=PATH=/bin:/usr/local/bin
ExecStartPre=mkdir -p %h/Dropbox-encrypted
ExecStart=/usr/local/bin/gocryptfs -passfile %E/gocryptfs/dropbox-encrypted-password %h/Dropbox/encrypted %h/Dropbox-encrypted
Restart=on-failure
RestartSec=5
