[Unit]
Description=Prune data from the restic repository weekly
[Timer]
OnStartupSec=30m
OnCalendar=weekly
Persistent=true
[Install]
WantedBy=timers.target
