[Unit]
Description=Restic backup service (data pruning)
[Service]
Type=oneshot
EnvironmentFile=%h/.config/restic/restic-backup.conf
# Don't start on metered connections
ExecStartPre=/home/azmo/bin/backup/nmcli-not-connection-metered
ExecStartPre=/usr/bin/notify-send "Restic Prune started"
ExecStart=restic prune
ExecStartPost=/usr/bin/notify-send "Restic Backup finished"
