// Zed settings - managed by chezmoi.
{
  "edit_predictions": {
    "provider": "copilot"
  },
  "project_panel": {
    "dock": "left"
  },
  "outline_panel": {
    "dock": "left"
  },
  "collaboration_panel": {
    "dock": "left"
  },
  "agent": {
    "dock": "right",
    "favorite_models": [],
    "model_parameters": []
  },
  "git_panel": {
    "dock": "left"
  },
  "auto_update": true,
  "auto_install_extensions": {
    "catppuccin": true,
    "catppuccin-icons": true,
    "asciidoc": true,
    "dockerfile": true,
    "git-firefly": true,
    "just": true,
    "latex": true,
    "lua": true,
    "terraform": true,
    "toml": true
  },
  "buffer_font_family": "JetBrains Mono",
  "terminal": {
    "font_family": "Iosevka Term"
  },
  "telemetry": {
    "metrics": true
  },
  "ui_font_family": "Adwaita Sans",
  "vim_mode": true,
  "icon_theme": {
    "mode": "system",
    "light": "Catppuccin Latte",
    "dark": "Catppuccin Mocha"
  },
  "theme": {
    "mode": "system",
    "light": "Catppuccin Latte",
    "dark": "Catppuccin Mocha"
  }
}

// vim: set ft=jsonc:
