#Type   Path              Mode  User     Group    Age Argument
{{ with joinPath .chezmoi.homeDir "data" | stat }}{{ if eq .type "dir" }}
z       %h/data/media     0700  gorschu  gorschu  -   -
z       %h/data/projects  0700  gorschu  gorschu  -   -
z       %h/data/general   0700  gorschu  gorschu  -   -
{{ else }}
z       %h/Documents      0700  gorschu  gorschu  -   -
z       %h/Pictures       0700  gorschu  gorschu  -   -
z       %h/Videos         0700  gorschu  gorschu  -   -
z       %h/projects       0700  gorschu  gorschu  -   -
{{ end }}{{ end }}
