#Type   Path                                      Mode  User     Group    Age Argument
{{- $host := index (.hosts | default dict) .chezmoi.hostname | default dict -}}
{{ with joinPath .chezmoi.homeDir "data" | stat }}{{ if and (eq .type "dir") $host.has_mail }}
# Mail directories (per-account stores for mbsync)
d       %h/data/mail                              0700  -        -        -   -
d       %h/data/mail/fastmail                     0700  -        -        -   -
d       %h/data/mail/gmail                        0700  -        -        -   -
d       %h/data/mail/gmx                          0700  -        -        -   -

# Log directories
d       %h/.local/state/msmtp                     0700  -        -        -   -
d       %h/.local/state/mbsync                    0700  -        -        -   -
{{ end }}{{ end }}

{{- if $host.has_mail }}
{{ with joinPath .chezmoi.homeDir "data/.ready" | stat }}
# Symlink for mail access (only after data drive is initialised)
L+      %h/mail                                   -     -        -        -   %h/data/mail
{{ end }}
{{- end }}
