#Type   Path            Mode    User       Group      Age Argument
d       %h/.local/bin  0755     gorschu    gorschu    -   -
{{ with joinPath .chezmoi.homeDir "data" "general" | stat }}{{ if eq .type "dir" }}
d       %h/data/general/mozilla/.mozilla                  0700     gorschu    gorschu    -   -
d       %h/data/general/mozilla/.config/mozilla           0700     gorschu    gorschu    -   -
d       %h/data/general/flatpak                           0700     gorschu    gorschu    -   -
{{ end }}{{ end }}
{{ with joinPath .chezmoi.homeDir "data" "media" | stat }}{{ if eq .type "dir" }}
d       %h/data/media/documents 0700     gorschu    gorschu    -   -
d       %h/data/media/pictures  0700     gorschu    gorschu    -   -
d       %h/data/media/videos    0700     gorschu    gorschu    -   -
{{ end }}{{ end }}
