#Type   Path          Mode    User    Group   Age Argument
{{ if not (joinPath .chezmoi.homeDir "data" | stat) }}
z       %h/Documents  0700    gorschu    gorschu    -   -
z       %h/projects   0700    gorschu    gorschu    -   -
z       %h/Pictures   0700    gorschu    gorschu    -   -
z       %h/Videos     0700    gorschu    gorschu    -   -
{{ end }}

{{ with joinPath .chezmoi.homeDir "data" "media" | stat }}{{ if eq .type "dir" }}
z %h/data/media 0700 gorschu gorschu - -
z %h/data/media 0700 gorschu gorschu - -
z %h/data/media 0700 gorschu gorschu - -
{{ end }}{{ end }}
{{ with joinPath .chezmoi.homeDir "data" "projects" | stat }}{{ if eq .type "dir" }}
z %h/data/projects    0700 gorschu gorschu - -
{{ end }}{{ end }}
{{ with joinPath .chezmoi.homeDir "data" "general" | stat }}{{ if eq .type "dir" }}
z %h/data/general    0700 gorschu gorschu - -
{{ end }}{{ end }}
