#Type   Path        Mode      User    Group   Age Argument
L+      %h/Documents/synced   - - - - %h/synced/workstations-documents
L+      %h/Pictures/synced    - - - - %h/synced/workstations-pictures
L+      %h/projects/synced    - - - - %h/synced/workstations-projects
