{{- $h := index .hosts "artemis" -}}
{ pkgs, mylib, ... }:

{
  imports = [
    {{- if $h.has_mail }}
    ../modules/mail.nix
    {{- end }}
    {{- if $h.has_pim }}
    ../modules/pim.nix
    {{- end }}
  ];

  home.packages = [
    (mylib.nixGLWrap pkgs.ghostty)
  ];
}
