exec --no-startup-id 1password
exec --no-startup-id kanshi
exec --no-startup-id mako
exec --no-startup-id copyq

# backlight to 30% by default
exec light -S 40%

# gtk
set $gnome-schema org.gnome.desktop.interface
exec_always {
  gsettings set $gnome-schema gtk-theme "Adwaita-dark"
  gsettings set $gnome-schema icon-theme "Adwaita"
  gsettings set $gnome-schema cursor-theme "Adwaita"
  gsettings set $gnome-schema font-name "Sans 10"
}

{{ if eq .chezmoi.osRelease.id "fedora" }}
    {{ if stat "/usr/libexec/kf5/polkit-kde-authentication-agent-1" }}
        exec --no-startup-id /usr/libexec/kf5/polkit-kde-authentication-agent-1
    {{ else if stat "/usr/libexec/polkit-gnome-authentication-agent-1" }}
        exec --no-startup-id /usr/libexec/polkit-gnome-authentication-agent-1
    {{ end }}
{{ end }}
{{ if eq .chezmoi.osRelease.id "opensuse-tumbleweed" }}
    {{ if stat "/usr/lib64/polkit-kde-authentication-agent-1" }}
        exec --no-startup-id /usr/lib64/libexec/polkit-kde-authentication-agent-1
    {{ else if stat "/usr/libexec/polkit-gnome-authentication-agent-1" }}
        exec --no-startup-id /usr/lib64/libexec/polkit-gnome-authentication-agent-1
    {{ end }}
{{ end }}
{{ if eq .chezmoi.osRelease.id "arch" }}
    {{ if stat "/usr/lib/polkit-kde-authentication-agent-1" }}
        exec --no-startup-id /usr/lib/polkit-kde-authentication-agent-1
    {{ else if stat "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1" }}
        exec --no-startup-id /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
    {{ end }}
{{ end }}

# make sure we do have an authentication agent and gnome-keyring-daemon started
exec --no-startup-id /usr/bin/gnome-keyring-daemon --start --components=secrets
