[global]
include-file = $HOME/.config/polybar/gruvbox-colors

[global/wm]
margin-top = 5
margin-bottom = 5

[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over

[bar/base]
dpi = ${xrdb:Xft.dpi:96}
width = 100%
height={{ if or (eq .chezmoi.hostname "hephaestus") (eq .chezmoi.hostname "apollo") }}2%{{ else }}1.5%{{ end }}
offset-x = 0
offset-y = 0
radius = 0.0
fixed-center = false

line-size = 2
padding = 0

module-margin = 1

background = ${colors.background}
foreground = ${colors.foreground}

enable-ipc = true

tray-padding = 2
tray-detached = false

font-0 = Sans:pixelsize=10;0
font-1 = Symbols Nerd Font:pixelsize=10;1

[bar/azmo-primary]
inherit = bar/base

monitor = ${env:MONITOR:eDP1}

modules-left = i3 xwindow
modules-center =

{{ if or (eq .chezmoi.hostname "hephaestus") (eq .chezmoi.hostname "apollo") }}
modules-right = keyboard backlight volume filesystem zfs cpu memory temperature battery wlan eth-internal eth-docking cups vpncheck date
{{ else if eq .chezmoi.hostname "artemis" }}
modules-right = keyboard volume filesystem zfs cpu memory eth-internal cups vpncheck date
{{ end }}

tray-position = right

[bar/azmo-secondary]
inherit = bar/base

monitor = ${env:MONITOR}

modules-left = i3 xwindow
modules-center =
modules-right = date

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

ws-icon-0 = 1;
ws-icon-1 = 2;
ws-icon-2 = 3;
ws-icon-3 = 4;
ws-icon-4 = 5;
ws-icon-5 = 6;
ws-icon-6 = 7;
ws-icon-default = 

; Only show workspaces on the same output as the bar
pin-workspaces = true

label-mode = %mode%
label-mode-foreground = ${colors.gruvbox05}
label-mode-background = ${colors.background}
label-mode-padding = 2

; focused = Active workspace on focused monitor
label-focused = %index% %icon%
label-focused-foreground = ${colors.gruvbox13}
label-focused-background = ${colors.background}
label-focused-underline = ${colors.gruvbox13}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %index% %icon%
label-unfocused-foreground = ${colors.gruvbox07}
label-unfocused-padding = 2

; visible = Active workspace on unfocused monitor
label-visible = %index% %icon%
label-visible-foreground = ${colors.gruvbox12}
label-visible-background = ${colors.background}
label-visible-underline = ${colors.gruvbox12}
label-visible-padding = 2

; urgent = Workspace with urgency hint set
label-urgent = "%index%  "
label-urgent-foreground = ${colors.urgent}
label-urgent-background = ${colors.background}
label-urgent-underline = ${colors.urgent}
label-urgent-padding = 2

[module/xwindow]
type = internal/xwindow
label = %title:0:50:...%

format-foreground = ${colors.foreground}
format-underline = ${colors.foreground}
format-padding = 4

[module/keyboard]
type = internal/xkeyboard

; List of indicators to ignore
bufferlist-0 = num lock
bufferlist-1 = scroll lock

; Format
format = <label-indicator>

label-indicator-on-capslock =  CL
label-indicator-on-capslock-foreground = ${colors.warning}
label-indicator-on-capslock-underline = ${colors.warning}

; Icons
layout-icon-default = 

[module/backlight]
type = internal/backlight
; Use the following command to list available cards:
; $ ls -1 /sys/class/backlight/
card = {{ if eq .chezmoi.hostname "hephaestus"}}intel_backlight{{ else if eq .chezmoi.hostname "apollo"}}amdgpu_bl0{{end}}

format = <ramp> <label> <bar>
;format-foreground = ${colors.primary}
label = %percentage:3%%
label-foreground = ${colors.gruvbox12}

ramp-foreground = ${colors.gruvbox12}
ramp-0=" "
ramp-1="ﯧ "
ramp-2="ﯧ "
ramp-3="ﯦ "
ramp-4="ﯦ "

bar-width = 10
bar-indicator = ""
bar-indicator-foreground = ${colors.gruvboxorangelight}
bar-indicator-font = 2
bar-fill = -
bar-fill-font = 2
bar-fill-foreground = ${colors.gruvbox10}
bar-empty = -
bar-empty-font = 2
bar-empty-foreground = ${colors.gruvbox11}

[module/volume]
type = internal/pulseaudio

format-volume = <ramp-volume> <label-volume> <bar-volume>
format-volume-foreground = ${colors.gruvbox12}
label-volume = %percentage:3%%
label-volume-foreground = ${colors.gruvbox12}

format-muted-prefix = "婢 "
format-muted-foreground = ${colors.warning}
label-muted = muted

ramp-foreground = ${colors.foreground}
ramp-volume-0 = "奄 "
ramp-volume-1 = "奔 "
ramp-volume-2 = "墳 "

bar-volume-width = 10
bar-volume-foreground-0 = ${colors.gruvbox10}
bar-volume-foreground-1 = ${colors.gruvbox10}
bar-volume-foreground-2 = ${colors.gruvbox11}
bar-volume-foreground-3 = ${colors.gruvbox11}
bar-volume-foreground-4 = ${colors.gruvbox12}
bar-volume-foreground-5 = ${colors.gruvbox12}
bar-volume-foreground-6 = ${colors.gruvbox13}
bar-volume-foreground-7 = ${colors.gruvbox13}
bar-volume-gradient = true
bar-volume-indicator = 
bar-volume-indicator-font = 2
bar-volume-indicator-foreground = ${colors.gruvboxorangelight}
bar-volume-fill = -
bar-volume-fill-font = 2
bar-volume-empty = -
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.gruvbox14}

[module/filesystem]
type = internal/fs
interval = 30

mount-0 = /

format-mounted-prefix = " "
format-mounted-foreground = ${colors.foreground}
label-mounted = %mountpoint% %percentage_used%%
label-mounted-foreground = ${colors.foreground}
label-unmounted = %mountpoint% unmounted
label-unmounted-foreground = ${colors.urgent}
label-unmounted-underline = ${colors.urgent}

[module/zfs]
type = custom/script
exec = $XDG_CONFIG_HOME/polybar/scripts/zfs
exec-if = $XDG_CONFIG_HOME/polybar/scripts/zfs
interval = 60
#format-underline = ${colors.gruvbox-green}
format-prefix = " "
format-prefix-foreground = ${colors.foreground}

[module/cpu]
type = internal/cpu
interval = 5
format-prefix = "龍  "
format-prefix-foreground = ${colors.foreground}
#format-underline = ${colors.DraculaCyan}
label = %percentage%%

[module/memory]
type = internal/memory
interval = 5
format-prefix = "  "
format-prefix-foreground = ${colors.foreground}
#format-underline = ${colors.DraculaCyan}
label = %percentage_used%%

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-warn = <ramp> <label-warn>
format-warn-underline = ${colors.urgent}

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.urgent}

ramp-foreground = ${colors.foreground}
ramp-0 = " "
ramp-1 = " "
ramp-2 = " "
ramp-3 = " "

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 95

label-charging = %percentage:2%% %time%
label-charging-foreground = ${colors.gruvbox11}
format-charging = <animation-charging> <label-charging>
format-charging-foreground = ${colors.gruvbox11}
#format-charging-underline = ${colors.DraculaOrange}

label-discharging = %percentage:2%% %time%
label-discharging-foreground = ${colors.gruvboxorangelight}
format-discharging = <ramp-capacity> <label-discharging>
format-discharging-foreground = ${colors.gruvboxorangelight}
#format-discharging-underline = ${colors.DraculaRed}

label-full = "%percentage:2%%"
label-full-foreground = ${colors.gruvbox10}
format-full =  <label-full>
format-full-foreground = ${colors.gruvbox10}
#format-full-underline = ${colors.DraculaGreen}

ramp-capacity-0 = " "
ramp-capacity-1 = " "
ramp-capacity-2 = " "
ramp-capacity-3 = " "
ramp-capacity-4 = " "
;ramp-capacity-foreground = ${colors.primary}

animation-charging-0 = " "
animation-charging-1 = " "
animation-charging-2 = " "
animation-charging-3 = " "
animation-charging-4 = " "
;animation-charging-foreground = ${colors.primary}
animation-charging-framerate = 750

[module/wlan]
type = internal/network
interface = {{ if eq .chezmoi.hostname "hephaestus" }}wlp4s0{{ else if eq .chezmoi.hostname "apollo" }}wlp3s0{{else}}wlan0{{ end }}
interval = 5

format-packetloss = <animation-packetloss> <label-connected>
format-connected = "   <label-connected>"
format-connected-foreground = ${colors.foreground}
format-connected-underline = ${colors.gruvbox12}
label-connected = %essid% (%signal%%) ﯴ%upspeed:9% ﯲ%downspeed:9%
label-connected-foreground = ${colors.foreground}

format-disconnected = "睊  <label-disconnected>"
format-disconnected-foreground = ${colors.urgent}
format-disconnected-underline = ${colors.urgent}
label-disconnected = %ifname% disconnected
label-disconnected-foreground = ${colors.foreground}

;ramp-signal-0 = 
;ramp-signal-1 = 
;ramp-signal-2 = 
;ramp-signal-3 = 
;ramp-signal-4 = 
;ramp-signal-foreground = ${colors.foreground-alt}

[module/eth-internal]
type = internal/network
interface = {{ if eq .chezmoi.hostname "hephaestus" }}enp0s31f6{{ else if eq .chezmoi.hostname "apollo"}}enp2s0f0{{ else if eq .chezmoi.hostname "artemis" }}enp1s0{{ end }}
interval = 5

format-packetloss = <animation-packetloss> <label-connected>
format-connected =   <label-connected>
format-connected-foreground = ${colors.foreground}
format-connected-underline = ${colors.gruvbox06}
label-connected = %linkspeed% ﯴ%upspeed:9% ﯲ%downspeed:9%
label-connected-foreground = ${colors.foreground}

format-disconnected =   <label-disconnected>
format-disconnected-foreground = ${colors.warning}
format-disconnected-underline = ${colors.warning}
label-disconnected = %ifname%
label-disconnected-foreground = ${colors.warning}

{{ if or (eq .chezmoi.hostname "hephaestus") (eq .chezmoi.hostname "apollo") }}
[module/eth-docking]
type = internal/network
interface= enp60s0u1u1
interval = 5

format-packetloss = <animation-packetloss> <label-connected>
format-connected =   <label-connected>
format-connected-foreground = ${colors.foreground}
format-connected-underline = ${colors.gruvbox06}
label-connected = %linkspeed% ﯴ%upspeed:9% ﯲ%downspeed:9%
label-connected-foreground = ${colors.foreground}

format-disconnected =   <label-disconnected>
format-disconnected-foreground = ${colors.urgent}
format-disconnected-underline = ${colors.urgent}
label-disconnected = %ifname%
label-disconnected-foreground = ${colors.urgent}
{{ end }}

[module/cups]
type = custom/script
exec = $HOME/.config/polybar/scripts/cups
exec-if = $HOME/.config/polybar/scripts/cups
interval = 10
#format-underline = ${colors.DraculaGreen}
format-prefix = "朗 "
format-prefix-foreground = ${colors.foreground}

[module/vpncheck]
type = custom/script
exec = "echo -n 'VPN: ' && $HOME/.config/polybar/scripts/geoip"
exec-if = pgrep -x openvpn
interval = 60
#format-underline = ${colors.DraculaGreen}
format-prefix = "  "
format-prefix-foreground = ${colors.foreground}

[module/date]
type = internal/date
interval = 5.0
; See "http://en.cppreference.com/w/cpp/io/manip/put_time" for details on how to format the date string
; NOTE: if you want to use syntax tags here you need to use %%{...}
date = %Y-%m-%d %a %H:%M
date-alt = %H:%M

format = <label>
label =   %date%
label-margin = 1
label-underline = ${colors.gruvbox13}

; vim:ft=dosini
