# aliases

# define bash as shell for mc, it does not like zsh for its subshell support
alias mc='SHELL=/bin/bash mc'
alias dmesg='dmesg --human'
alias ND=find_newest_directory_universal
alias NF=find_newest_file_universal
alias -g a2c='aria2c -x4 -j4 -c -i -'

alias ssh-add='ssh-add -t 3600'
alias ssh-addc='ssh-add -t 3600 -c'

alias ip="ip --color=auto"

alias -g nd='*(/om[1])' # newest directory
alias -g nf='*(.om[1])' # newest file

# fixes to autocorrection
alias cp='nocorrect cp -i --reflink=auto --sparse=auto'
alias mv='nocorrect mv -i '
alias rm='nocorrect rm -i '
alias mkdir='nocorrect mkdir '

if (( $+commands[nvim] )); then
    alias vim=nvim
    alias vi=nvim
fi

alias mbsync="mbsync -c ${XDG_CONFIG_HOME}/mail/mbsyncrc"
alias weechat="weechat -d ${XDG_CONFIG_HOME}/weechat"

if (( $+commands[eza] )); then
  eza="eza --color=auto"
  alias eza="${eza} --icons"
  alias ls="${eza}"
  alias ll="${eza} -l"
  alias la="${eza} -la"
  alias lg="${eza} -la --git"
  alias lt="${eza} --tree"
  alias ltd="${eza} --tree -D"
fi

(( $+commands[batman] )) && alias man=batman
