export FZF_DEFAULT_OPTS='--height 40% --tmux bottom,40% --layout reverse --border top'
{{ if eq .colorscheme.name "tokyonight" }}
# tokyonight
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
	--color=fg:#c0caf5,bg:#1a1b26,hl:#bb9af7 \
	--color=fg+:#eeeeee,bg+:#1a1b26,hl+:#7dcfff \
	--color=info:#7aa2f7,prompt:#7dcfff,pointer:#7dcfff \
	--color=marker:#9ece6a,spinner:#9ece6a,header:#9ece6a"
{{ else if eq .colorscheme.name "catppuccin" }}
{{ if eq .colorscheme.flavor "latte" }}
# catppuccin-latte
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
  --color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39 \
  --color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78 \
  --color=marker:#dc8a78,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39"
{{ else if eq .colorscheme.flavor "frappe" }}
# catppuccin-frappe
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
  --color=bg+:#414559,bg:#303446,spinner:#f2d5cf,hl:#e78284 \
  --color=fg:#c6d0f5,header:#e78284,info:#ca9ee6,pointer:#f2d5cf \
  --color=marker:#f2d5cf,fg+:#c6d0f5,prompt:#ca9ee6,hl+:#e78284"
{{ else if eq .colorscheme.flavor "macchiato" }}
# catppuccin-macchiato
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
  --color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
  --color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
  --color=marker:#f4dbd6,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796"
{{ else if eq .colorscheme.flavor "mocha" }}
# catppuccin-mocha
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
  --color=bg+:#313244,bg:#1e1e2e,spinner:#f5e0dc,hl:#f38ba8 \
  --color=fg:#cdd6f4,header:#f38ba8,info:#cba6f7,pointer:#f5e0dc \
  --color=marker:#f5e0dc,fg+:#cdd6f4,prompt:#cba6f7,hl+:#f38ba8"
{{ end }}
{{ end }}

FZF_FD_OPTIONS="--follow --exclude .git --exclude node_modules"
export FZF_DEFAULT_COMMAND="fd --type f --type l --hidden $FZF_FD_OPTIONS"
export FZF_CTRL_T_COMMAND="fd $FZF_FD_OPTIONS"
export FZF_ALT_C_COMMAND="fd --type d --hidden $FZF_FD_OPTIONS"
export FZF_ALT_C_OPTS="
  --walker-skip .git,node_modules,target
  --preview 'eza -T {}'"
export FZF_CTRL_T_OPTS="
  --walker-skip .git,node_modules,target
  --preview 'bat -n --color=always {}'
  --bind 'ctrl-/:change-preview-window(down|hidden|)'"

if [[ -f ${ZDOTDIR:-$HOME}/fzf-git.sh ]]; then
  # unbind CTRL-G first. If not fzf-git keybind are not working because it's bound to list-expand by default
  bindkey -r '^G'
  source ${ZDOTDIR:-$HOME}/fzf-git.sh
fi
