#!/bin/bash

# touchpad

{{ if eq .chezmoi.hostname "hephaestus" }}
	# x1c gen5
	kwriteconfig5 --file touchpadxlibinputrc --group "Synaptics TM3289-002" --key "naturalScroll" "true"
	kwriteconfig5 --file touchpadxlibinputrc --group "Synaptics TM3289-002" --key "tapToClick" "true"
{{ else if eq .chezmoi.hostname "apollo" }}
	kwriteconfig5 --file touchpadxlibinputrc --group "SynPS/2 Synaptics TouchPad" --key "naturalScroll" "true"
	kwriteconfig5 --file touchpadxlibinputrc --group "SynPS/2 Synaptics TouchPad" --key "tapToClick" "true"
	kwriteconfig5 --file touchpadxlibinputrc --group "SynPS/2 Synaptics TouchPad" --key "pointerAcceleration" "0.4"
{{ end }}

# the file does not necessarily need to exist, only on laptops
if [[ -e $XDG_CONFIG_HOME/touchpadxlibinputrc ]]; then
    cat $XDG_CONFIG_HOME/touchpadxlibinputrc
else
    exit 0
fi
