command_timeout = 1500

[aws]
symbol = " "
{{ if eq .colorscheme "dracula" }}style = "bold #ffb86c"{{ end }}

[cmd_duration]
{{ if eq .colorscheme "dracula" }}style = "bold #f1fa8c"{{ end }}
show_notifications = true
min_time_to_notify = 60000

[directory]
{{ if eq .colorscheme "dracula" }}style = "bold #50fa7b"{{ end }}
{{ if eq .colorscheme "gruvbox" }}read_only_style = "#D65D0E"{{ end }}
{{ if eq .colorscheme "nord" }}read_only_style = "#BF616A"{{ end }}
read_only = "  "
truncation_symbol = "…/"
truncation_length = 3
fish_style_pwd_dir_length = 1

[git_branch]
{{ if eq .colorscheme "dracula" }}style = "bold #ff79c6"{{ end }}
symbol = " "

[git_status]
{{ if eq .colorscheme "dracula" }}style = "bold #ff5555"{{ end }}
{{ if eq .colorscheme "gruvbox" }}style = "bold #689d6a"{{ end }}
ahead = " $count"
diverged = "  $ahead_count $behind_count"
behind = " $count"
deleted = "﯊ $count"
modified = "署 $count"
untracked = " $count"
conflicted = " $count"
stashed = "  $count"
renamed = "  $count"

[git_metrics]
disabled = false

[git_commit]
disabled = false
tag_disabled = false
only_detached = false

[golang]
symbol = "ﳑ "

[hostname]
{{ if eq .colorscheme "dracula" }}style = "bold #ff5555"{{ end }}
ssh_only = true
ssh_symbol = "旅"

[java]
symbol = " "
style = "blue"

[docker_context]
disabled = false
symbol = " "

[os]
disabled = false
format = "on [($symbol $version )]($style)"

[os.symbols]
Fedora = " "
CentOS = " "
Arch = " "
Ubuntu = " "
Debian = " "
Redhat = " "
openSUSE = " "
SUSE = " "

[line_break]
disabled = true

[package]
symbol = "  "

[shlvl]
disabled = false
symbol = "溜"

[shell]
disabled = false
{{ if eq .colorscheme "nord"}}style = "#4C566A"{{ end}}

[sudo]
# disable sudo module for now - it spams the journal with sudo entries
disabled = true

[status]
disabled = false
map_symbol = true
symbol = "✖ "
success_symbol = " "
sigint_symbol = ""

[username]
format = "[$user]($style) "
{{ if eq .colorscheme "dracula" }}style_user = "bold #bd93f9"{{ end }}
{{ if eq .colorscheme "nord" }}style_user = "bold #b48ead"{{ end }}
{{ if eq .colorscheme "gruvbox" }}style_user = "bold #b16286"{{ end }}
show_always = true
