{{ if eq .chezmoi.hostname .workHostname }}
export https_proxy="http://{{ .workUser }}:{{ .workPassword }}@{{ .workProxyHost }}:{{ .workProxyPort }}"
export no_proxy="{{ .workProxyExclusion }}"
{{ end }}
